!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title
      = "Matthias Vallentin" + (@item[:title].nil? ? "" : " - #{@item[:title]}")
    %link(rel="stylesheet" href="/css/main.css" )
    %link(rel="stylesheet" href="/css/prism.css" )
    %script(src="/js/all.js")
    = render '/partials/analytics.*'
    - if @item[:math]
      = render '/partials/mathjax.*'
  %body
    %main
      .grid-x.grid-padding-x.align-center
        .cell.medium-10.large-8
          .content
            ~ yield
    %footer
      = render '/partials/footer.*'
    = render '/partials/foundation.*'
