-# TODO: only include the bare minimum (i.e., foundation, fastclick) in this
   include all specific libraries only where we use them.
= File.read('content/assets/components/jquery/dist/jquery.js')
= File.read('content/assets/components/fastclick/lib/fastclick.js')
= File.read('content/assets/components/foundation-sites/dist/js/foundation.js')
= File.read('content/assets/components/prismjs/prism.js')
= File.read('content/assets/components/prismjs/components/prism-c.js')
= File.read('content/assets/components/prismjs/components/prism-cpp.js')
